#header
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    position: relative

#header-outer
    height: 100%
    background-image url("images/banner.png")
    background-position center
    background-repeat no-repeat
    background-size auto 100%
    position: relative

#header-inner
    position: relative

#header-title
    clearfix()
    text-align: center
    padding: 30px 30px
    .logo-wrap, .subtitle-wrap
        float: left
    .subtitle-wrap
        padding: 10px 0px 0px
        margin-left: 20px
    .subtitle
        font-size: 16px
        font-style: italic
        line-height: logo-height + 10
        color: color-nav-foreground
        text-shadow: 0 1px rgba(0, 0, 0, 0.2)
